#### Exercise 2 : Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

#### Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarised.

#### Exercise 10 - Insert a Markdown Cell to List Objectives

**Objectives:**
+ List Data Science Popular Languages
+ List of Data Science Libraries
+ List of Data Science Tools
+ Performating Arithmetics Operation in notebook

#### Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientist use are:

1. Julia
2. Python
3. Java
4. Scala
5. R
6. Sql

#### Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Scipy
4. Matplolib
5. Seaborn
6. Scikitlearn
7. Pytorch
8. Keras
9. Folium

#### Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
| ------------------ |
| Jupyter Notebook|
| Google Codelab |
| Anaconda |
| Vs Code |

#### Exercise 7 - Create a markdown cell introducing arithmetic expression example

### Below are a few examples of evaluating arithmetic expressions in python

In [2]:
x = 2
y = 3

print(x * y)
print(x / y)

print(x - y)
print(x + y)

6
0.6666666666666666
-1
5

In [3]:
y = pow(4,3)
print(y)

64

#### Excersise 8 - Create  a code cell to multiply and add numbers

In [4]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

#### Exercise 9 - Create a code cell to convert minutes to hours

In [8]:
# This will convert 200 minutes to hours by dividing by 60
x = 200
print(round( 200 / 60), "hours")

3 hours

#### Exercise 10 - Insert a markdown cell to list Objectives

#### Excersice 11 - Create a markdown cell to indicate the Author's name

## Author
Lawani Abiola Kingsley