#### COMPANION WORKBOOK

# Data Structures

To make the most out of this program, we strongly recommend you to:
1. First practice writing and implementing all of the code from Coding Section of the online module.
2. Then, freely experiment with and explore any interesting or confusing concepts. Simply insert new code cells and then use the help of Google and official documentation.
3. Finally, tackle all of the exercises at the end. They will help you tie everything together and **learn in context.**

#### <span style="color:#555">MODULE CODE SANDBOX</span>

Use this space to practice writing and implementing all of the code from Coding Section of the online module. Insert new code cells as needed, and feel free to write notes to yourself in Markdown.

## I. Lists are mutable sequences of objects.

In [1]:
integer_list = [0, 1, 2, 3, 4]

print(integer_list)
print(type(integer_list))

[0, 1, 2, 3, 4]
<class 'list'>

In [2]:
# create list of mixed types: strings, ints, and floats
my_list = ['hello', 1, 'world', 2, 3.0]

# print entire list
print(my_list)

['hello', 1, 'world', 2, 3.0]

In [3]:
print(my_list[0]) # print the first element
print(my_list[2]) # print the third element

hello
world

In [4]:
# selects all starting from the 2nd element, but before the 4th element
print(my_list[1:3])

[1, 'world']

In [5]:
# Selects all before the 4th element
print(my_list[:3])

# selects all starting from the 2nd element
print(my_list[1:])

['hello', 1, 'world']
[1, 'world', 2, 3.0]

In [6]:
# selects the last element
print(my_list[-1])

# select all before the last element
print(my_list[:-1])

3.0
['hello', 1, 'world', 2]

In [7]:
my_list[0] = "bonjour" # sets new value for the firs element
print(my_list[0]) # print the first element
print(my_list[2]) # print the third element

bonjour
world

In [8]:
a = [1, 2, 3]
b = [4, 5, 6]

In [10]:
print(a + b) # concatenation

[1, 2, 3, 4, 5, 6]

In [18]:
print(a*3) # broadcasting

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [19]:
print(min(b), max(b) ) # min, max

4 6

In [20]:
print( len(a)) # length

3

In [21]:
integer_tuple = (0, 1, 2, 3, 4)

print(integer_tuple)
print(type(integer_tuple))

(0, 1, 2, 3, 4)
<class 'tuple'>

## II. Tuples are immutable sequences of objects.

In [23]:
# Create tuple of mixed types: strings, ints, and floats
my_tuple = ('hello', 1, 'world', 2, 3.0)

# print entire tuple
print(my_tuple)

('hello', 1, 'world', 2, 3.0)

In [25]:
print(my_tuple[0]) # print the first element
print(my_tuple[2]) # print the third element

hello
world

In [30]:
print(my_tuple[:3]) # select first 4 elements

('hello', 1, 'world')

In [33]:
# Tuples cannot be updated
my_tuple[0] = 'goodbye' # will throw an error

TypeError: 'tuple' object does not support item assignment

In [ ]:
a, b, c, d, e = my_list

In [ ]:
print(a, c)

## III. Sets are collections of unique objects.

In [37]:
integer_set = {0, 1, 2, 3, 4}
print(integer_set)
print(type(integer_set))

{0, 1, 2, 3, 4}
<class 'set'>

In [39]:
# print length of integer set
print(integer_set, 'has', len(integer_set), 'elements.')

{0, 1, 2, 3, 4} has 5 elements.

In [41]:
fibonacci_list = [1,1, 2, 3, 5, 8, 13] # will keep both 1's will remain
fibonaci_set = {1, 1, 2, 3, 5, 8, 13} # only one 1 will remain

print(fibonacci_list)
print(fibonaci_set)

[1, 1, 2, 3, 5, 8, 13]
{1, 2, 3, 5, 8, 13}

In [43]:
# Throws an error
fibonaci_set[0]

TypeError: 'set' object is not subscriptable

## IV. Dictionaries are collections of key-value pairs.

In [49]:
integer_dict = {'zero':0,
                'one':1,
                'two':2,
                'three':3,
                'four':4
               }
print(integer_dict)
print(type(integer_dict))

{'zero': 0, 'one': 1, 'two': 2, 'three': 3, 'four': 4}
<class 'dict'>

In [51]:
my_dict =  {
    'title': "Hitchhker's Guide to the Galaxy",
    'author': 'Dougie-Adams',
    42: ['A number.', 'The answer to 40 + 2 = ?'] # keys can have integer too!
}

In [53]:
# you can acess dict by keys
# print the value for the title key
print(my_dict['title'])

#print the value for the author's key
print(my_dict['author'])

Hitchhker's Guide to the Galaxy
Dougie-Adams

In [55]:
# updating existing key-value pair easy 
my_dict['author'] = 'Douglas Adams'

# print the value for the author's key
print(my_dict['author'])

Douglas Adams

In [57]:
# Append element to the list
my_dict[42].append('Answer to the ultimate Question of life, the universe, and Everything')
print(my_dict[42])

['A number.', 'The answer to 40 + 2 = ?', 'Answer to the ultimate Question of life, the universe, and Everything']

In [59]:
# Creating a new key-value par
my_dict['year'] = 1979

In [61]:
# print summary of the book.
print('{} was written by {} in {}.'.format(my_dict['title'],
                                           my_dict['author'],
                                           my_dict['year']))

Hitchhker's Guide to the Galaxy was written by Douglas Adams in 1979.

In [63]:
# keys
my_dict.keys()

dict_keys(['title', 'author', 42, 'year'])

In [65]:
# values
my_dict.values()

dict_values(["Hitchhker's Guide to the Galaxy", 'Douglas Adams', ['A number.', 'The answer to 40 + 2 = ?', 'Answer to the ultimate Question of life, the universe, and Everything'], 1979])

In [67]:
# All items (list of tuples)
print(my_dict.items())

dict_items([('title', "Hitchhker's Guide to the Galaxy"), ('author', 'Douglas Adams'), (42, ['A number.', 'The answer to 40 + 2 = ?', 'Answer to the ultimate Question of life, the universe, and Everything']), ('year', 1979)])

#### <span style="color:#555">EXERCISES</span>

Complete each of the following exercises.

## <span style="color:RoyalBlue">Exercise 2.1 - Listing the Locations</span>

#### In the previous module...

In the previous module, you learned about the training mission: a visit to London. You also made sure you had enough water for the trip by performing calculations. Now, it's time to start planning the locations in London to visit! Before we start, let's import lists of locations by borough. 
* These are stored in text files that HQ has provided for you. 
* Python has a variety of **input/output** methods. We won't cover them here, but you can learn more about them in the [documentation](https://docs.python.org/3/tutorial/inputoutput.html).

#### A.) First, run this code. This will read lists of locations by borough.

In [71]:
# Read lists of locations (simply run this code block)
with open('project_files/brent.txt', 'r') as f:
    brent = f.read().splitlines()
    
with open('project_files/camden.txt', 'r') as f:
    camden = f.read().splitlines()

with open('project_files/redbridge.txt', 'r') as f:
    redbridge = f.read().splitlines()

with open('project_files/southwark.txt', 'r') as f:
    southwark = f.read().splitlines()

 read list of locations 
with open('project_files/brent.txt', r) as f:
  brent = f.read().splitlines()

file open for reading operation and assign a  file descriptor f save as list in a variable

Note that when text files are read using the <code style="color:steelblue">splitlines()</code> function, the resulting object is a list.

So the four objects you just created from the files - <code style="color:steelblue">brent</code>, <code style="color:steelblue">camden</code>, <code style="color:steelblue">redbridge</code>, and <code style="color:steelblue">southwark</code> - are all lists.

#### B.) Confirm that the new objects are all Python lists.

In [77]:
# Display the classes of your new objects
locale = [brent, camden, redbridge, southwark]
for i in locale:
    print(type(i))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

Let's start exploring this data.

#### C.) Print the first 5 locations in the Camden list.

In [80]:
# Print the first 5 locations in Camden
camden[:5]

['Chalk Farm', 'Dartmouth Park', 'Fitzrovia', 'Frognal', 'Bloomsbury']

<strong style="color:RoyalBlue">Expected output:</strong>

<pre>['Chalk Farm', 'Dartmouth Park', 'Fitzrovia', 'Frognal', 'Bloomsbury']</pre>

Next, we need to know how many locations are in each borough. 

#### D.) Print the number of locations in each list.
* Which borough has the most locations?
* Which borough has the fewest locations?

In [84]:
# Print length of each list
for i in locale:
    print(len(i))

19
22
18
15

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
19
22
18
15
</pre>

*Camden has the most locations and Southwark has the fewest.*

#### E.) Next, HQ wants to check a few locations. Do the following:
* **Print <code style="color:steelblue">True</code> if <code>'Newbury Park'</code> is in Redbridge or <code style="color:steelblue">False</code> if it's not.**
* **Print <code style="color:steelblue">True</code> if <code>'Peckham'</code> is in Brent or <code style="color:steelblue">False</code> if it's not.**

In [88]:
# Is 'Newbury Park' in Redbridge?
print( 'Newbury Park' in redbridge)

# Is 'Peckham' in Brent?
print('Peckham' in brent)

True
False

#### F.) Next, try printing the "minimum" and "maximum" values in the Southwark list.
* Why do you think you get those results?
* How do you think lists of strings are ordered?

In [91]:
# Print minimum value in southwark
print(min(southwark))


# Print maximum value in southwark
print(max(southwark))

Bankside
Walworth

#### G.) Finally, try printing the "minimum" and "maximum" values from all of the other 3 lists.
* Do the results confirm your suspicions from (F)?

In [94]:
def min_max(a):
    """
    parameter: a
    print the min and max values
    
    """
    print("minimum value is {}".format(min(a)))
    print("maximum values is {}".format(max(a)))
    print("")

# Print min/max values in brent
print("min/max values in brent:")
min_max(brent)

# Print min/max values in camden
print("min/max values in camden:")
min_max(camden)

# Print min/max values in redbridge
print("min/max values in redbridge:")
min_max(redbridge)

min/max values in brent:
minimum value is Alperton
maximum values is Willesden

min/max values in camden:
minimum value is Belsize Park
maximum values is West Hampstead

min/max values in redbridge:
minimum value is Aldborough Hatch
maximum values is Woodford Green

## <span style="color:RoyalBlue">Exercise 2.2 - Setting Uniques</span>

Let's continue planning locations to visit for our training mission to London. Before we continue, we need to remove duplicates from our lists because we don't have time to visit the same location twice.

#### A.) For each of the 4 lists of locations, print <code style="color:steelblue">True</code> if it has duplicate locations and <code style="color:steelblue">False</code> if it doesn't.
* Hint: A list with duplicates will have a greater length than a set of the same locations.

In [97]:
# Brent has duplicates?
print(len(brent) > len(set(brent)))

# Camden has duplicates?
print(len(camden) > len(set(camden)))

# Redbridge has duplicates?
print(len(redbridge) > len(set(redbridge)))

# Southwark has duplicates?
print(len(southwark) > len(set(southwark)))

False
True
True
True

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
False
True
True
True
</pre>

#### B.) For the lists with duplicates, remove duplicates by converting them into sets. Then, convert them back into lists.
* Hint: <code style="color:steelblue">set()</code> and <code style="color:steelblue">list()</code> are your friends.

In [101]:
# Convert lists to sets to remove duplicates, then convert them back to lists 
camden = list(set(camden))
redbridge = list(set(redbridge))
southwark = list(set(southwark))

In [103]:
type(camden)

list

Great, we're now almost ready to visit the locations. 

But first, let's look at a simple way to store the locations in one place.

## <span style="color:RoyalBlue">Exercise 2.3 - Dictionary Database</span>

We're almost ready to visit the locations in London! However, it's too cumbersome to lug around the 4 different lists we created in the previous exercise.

#### A.) Create a single dictionary named <code style="color:steelblue">location_dict</code> for the locations in each borough.
* Each key should be the name of the borough.
* Their values should be the lists of unique locations you created in <span style="color:RoyalBlue">Exercise 2.2</span>.

In [107]:
# Create location_dict
location_dict = {'Brent': brent,
                 'Camden' : camden,
                 'Redbridge' : redbridge,
                 'Southwark' : southwark
                }

Next, let's make sure the dictionary has the correct keys. 

#### B.) Run the cell below and check the output.
* What do you think the code below is doing?
* You'll learn more about <code style="color:steelblue">for</code> loops in the next module.

In [110]:
# Run this cell
for borough in ['Brent', 'Camden', 'Redbridge', 'Southwark']:
    print( borough in location_dict )

True
True
True
True

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
True
True
True
True
</pre>

Did you get the expected output? If not, check the answer key before moving on.

You've just received a message from HQ. *"Now that you've set up your dictionary, you won't need the original lists anymore. Get rid of them and wipe them clean."*

#### C.) Overwrite the original borough lists with <code style="color:steelblue">None</code>.
* <code style="color:steelblue">None</code> is an object that denotes emptiness. It's a separate object type within Python, similar to integers, floats, etc.
* There are different ways to approach this. See if you can do it in just one line of code! (Hint: "unpacking") The answer key has the solution that uses only one line of code.

In [114]:
# Wipe your original lists clean with Non
brent, camden, redbridge, southwark = None, None, None, None

#### D.) Confirm that all of your lists were wiped successfully. Print out each one's new class/type.
* Tip: When you overwrite a variable with a new object, it keeps the same variable name, but the object could be a completely different type of object.

In [117]:
for i in [brent, redbridge, camden, southwark]:
    print(type(i))

<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>
<class 'NoneType'>

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
&lt;class 'NoneType'>
&lt;class 'NoneType'>
&lt;class 'NoneType'>
&lt;class 'NoneType'>
</pre>

Now, we want to split our visit to London into two trips: one for Inner London and one for Outer London.

#### E.) Add two new items to your dictionary:
1. **Key:** <code style="color:steelblue">'Inner London'</code>... **Value:** All locations in <code style="color:steelblue">'Camden'</code> and <code style="color:steelblue">'Southwark'</code>.
2. **Key:** <code style="color:steelblue">'Outer London'</code>... **Value:** All locations in <code style="color:steelblue">'Brent'</code> and <code style="color:steelblue">'Redbridge'</code>.

Since you got rid of your original lists, you'll have to use the values you've already stored in your dictionary.

In [121]:
# Create a new key-value pair for 'Inner London'
location_dict['Inner London'] = location_dict['Camden'] + location_dict['Southwark']
location_dict['Outer London'] = location_dict['Brent'] + location_dict['Redbridge']


# Create a new key-value pair for 'Outer London'

In [123]:
location_dict.keys()

dict_keys(['Brent', 'Camden', 'Redbridge', 'Southwark', 'Inner London', 'Outer London'])

Finally, let's just check that we have the right number of locations for each trip.
* You should have 32 for Inner London
* You should have 35 for Outer London

#### F.) Run the cell below and check that you get the expected output.
* The <code>len</code> function counts the number of elements in a list-like object. You'll see this pop up many times throughout this program.

In [126]:
print( len(location_dict['Inner London']) )
print( len(location_dict['Outer London']) )

32
35

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
32
35
</pre>

If you don't have the right number of locations, doublecheck that you removed duplicates and that you're concatenating the correct lists. You can also check the answer key for the solution.

#### G.) Once you have the right number of locations, let's save this object so we can use it in the next module. Run the cell below.
* We'll use a Python built-in package called <code style="color:steelblue">pickle</code> to do so.
* Pickle saves an entire object in a file on your computer.

In [136]:
import pickle

# Save object to disk
with open('location_dict.pkl', 'wb') as f:
    pickle.dump(location_dict, f)

#### The mission continues in the next module...

Now you have a dictionary of locations in London by borough. In the next module, we'll look through the locations and pick one to start with.